* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: Raleway;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    transition: 0.4s ease;
    color: salmon;
}

a:hover {
    opacity: 0.7;
}

ul, li {
    padding: 0;
    list-style: none;
}

header {
    width: 100%;
    background: #000000;
    padding: 10px 0;
}

nav {
    display: inline;
}

.menu {
    display: inline-block;
    float: right;
}

.menu li {
    display: inline-block;
    padding: 5px;
}

.menu li a {
    font-size: 1.8em;
    letter-spacing: 3px;
    font-weight: 600;
    padding: 5px 10px;
}

.menu li a:hover {
    background: salmon;
    color: #000000;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.brand {
    display: inline-block;
    margin: 5px 10px;
    text-transform: uppercase;
    font-size: 3em;
}

.hero {
    padding: 30px 0;
    text-align: center;
    background: url(https://images.unsplash.com/photo-1545498967-7b51dcb8bfd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2452&q=80) center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.hero:before {
    content: " ";
    top: 0;
    left: 0;
    position: absolute;
    background: #000000;
    width: 100%;
    opacity: 0.5;
    height: 100%;
}

.hero h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 3.5em;
    z-index: 10;
    letter-spacing: 3px;
    font-weight: 300;
}

.content {
    padding: 80px 0;
    background: #252525;
}

.content h3 {
    font-size: 2.5em;
    color: salmon;
    letter-spacing: 2px;
    text-align: center;
}

.content p {
    color: #c3c3c3;
    text-align: center;
    line-height: 25px;
}


footer {
    width: 100%;
    background: #000000;
    padding: 20px 0;
}

footer p {
    color: #ffffff;
    text-align: center;
}

/* contato */

.content-contact {
    padding: 40px 0;
    width: 100%;
    height: 100vh;
    background: #000000;
}

.content-contact h3 {
    color: tomato;
    text-align: center;
    font-size: 4em;
    letter-spacing: 4px;
    font-weight: 300;
}

.content-about {
    padding: 40px 0;
    width: 100%;
    height: 100vh;
    background: #000000;
}

.content-about h3 {
    color: tomato;
    font-size: 4em;
    margin-top: 100px;
}

.content-about p {
    color: #ffffff;
}

.form {
    display: block;
    width: 100%;
    max-width: 800px;
    padding: 30px 20px;
    margin: 0 auto;
    text-align: center;
    background: #252525;
    border-radius: 5px;
}

.form label {
    color: #c3c3c3;
    display: block;
    margin-bottom: 10px;
    font-size: 2em;
}

.form li input {
    display: block;
    width: 150px;
    transition: width 0.3s;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid salmon;
    background: transparent;
}

.form input:focus {
    width: 280px;
    border-bottom: 1px solid tomato;
    transform: scale(1.2);
}

.form textarea {
    margin-top: 20px;
    border: 1px solid salmon;
    background: transparent;
    resize: none;
    width: 300px;
}


/* animations */


.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

  label.alinha{

	display: inline-block;
	width: 200px;
	margin-top: 10px;
	text-align: right;
	padding-right: 5px;

}

input[type="text"], input[type="number"], input[type="date"], input[type="mail"]{

	border: 1px solid tomato;
	font-family: Raleway;
    padding-left: 3px;

}

label {
    font-family: Raleway;
    font-size: 1.2em;
}

input[type="text"]:focus, input[type="number"], input[type="date"], input[type="mail"]{

	box-shadow: 3px 3px 5px;


}

fieldset{

	width: 80%;
	margin: 30px auto;
    padding: 20px;
    color: #ffffff;
	border: 1px;
	background: #252525;
	box-shadow: 2px 2px rgba(195, 14, 14, 0.5);

}

div.operacoes{

	margin: 30px auto;


}

legend{
	border: 1px 1px solid #EED5D2;
	background: #000000;
    padding: 5px 10px;
    font-size: 1.6em;
	color: tomato;
}

button {
	width: 200px;
	height: 40px;
    font-weight: bold;
    background: #000000;
    color: tomato;
    font-size: 2em;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
    color: #000000;
    background: tomato;
}

.sistema {
    background: #000000;
}

.sistema p {
    color: #ffffff;
    font-size: 1.6em;
    margin: 20px 100px;
}